@* Env.razor *@

@if (Environment.IsEnvironment(Name))
{
   @ChildContent
}

@code {
   [Inject] private IHostEnvironment Environment { get; set; }
   [Parameter] public string Name { get; set; }
   [Parameter] public RenderFragment ChildContent { get; set; }
}

@* HowToUse.razor *@

<Env Name="Development">
    <div>
        Text for development environment
    </div>
</Env>